@font-face {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../font/-W__XJnvUD7dzB2KdNodVkI.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
  }

  html, body {
    font-family: 'Prompt', sans-serif !important;
  }